* {
  font-family: "Fira Code", monospace !important;
  font-size: 1rem;
  &::selection {
    background: #96ff8d;
    color: #363a49;
  }
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  border: 3.5px solid rgba($color: #fff, $alpha: 0.5);
  border-radius: 2px;
}

body {
  background: #2e2e36;
  max-width: 100%;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  justify-content: center;
}

.App {
  margin-top: 96px;
}
