.inputContent {
  display: flex;
  gap: 24px;
}

.taskInput {
  width: 390px;
  height: 56px;
  background: #363a49;

  border: none;
  border-radius: 4px;
  padding: 0 24px;
  box-sizing: border-box;

  border: 1px solid #363a49;
  color: rgba($color: #fff, $alpha: 0.8);
  &::placeholder {
    color: rgba($color: #fff, $alpha: 0.5);
  }
  &:focus,
  &:hover {
    outline: none;
    border-color: #96ff8d;
  }
}

.Button {
  height: 56px;
  width: 146px;
  background: #96ff8d;
  cursor: pointer;

  color: #282a36;
  border: none;
  border-radius: 4px;
  &:hover {
    background: #8aff80;
  }
}

.tasks {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  li {
    height: 56px;
    width: 100%;
    padding: 0 24px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #363a49;
    border-radius: 4px;
    color: rgba($color: #fff, $alpha: 0.8);
    transition: 0.3s;
    &:hover {
      background: rgba($color: #96ff8d, $alpha: 0.1);
      color: #96ff8d;
    }
    input {
      background: transparent;
      border: none;
      color: rgba($color: #fff, $alpha: 0.8);
      padding: 0;
      &:focus {
        outline: none;
      }
    }
    .iconBtn {
      cursor: pointer;
      &:nth-child(1) {
        margin-right: 16px;
      }
    }
  }
}

.task-enter {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 300ms, transform 300ms;
}

.task-enter-active {
  opacity: 1;
  transform: translateY(0);
}

.iconBtn {
  background: transparent;
  border: none;
  padding: 0;
}
